{% extends 'admin_base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <h1>Réinitialiser votre mot de passe</h1>
    {{ form_start(form) }}
        {{ form_row(form.password) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}
