{% extends 'base.html.twig' %}

{% block title %}À Propos{% endblock %}

{% block body %}

<!-- IMAGE + TEXTE AVEC BOUTON -->
<section class="container my-5">
    <div class="row align-items-center">
        <div class="col-md-6">
            <img src="{{ asset('images/savoir3.jpg') }}" class="img-fluid rounded" alt="Produits Naturels">
        </div>
        <div class="col-md-6">
            <h2>Découvrez nos produits naturels pour vos cheveux</h2>
            <p>Nos produits capillaires sont spécialement conçus pour lutter contre la chute des cheveux et stimuler leur pousse.</p>
            <p>Nos produits capillaires sont spécialement conçus pour lutter contre la chute des cheveux et stimuler leur pousse.</p>
            <p>Nos produits capillaires sont spécialement conçus pour lutter contre la chute des cheveux et stimuler leur pousse.</p>
           
        </div>
    </div>
</section>

<h1>À Propos</h1>
<p>Nous sommes une entreprise dédiée à fournir les meilleurs produits à nos clients.</p>
{% endblock %}
