{% extends 'base.html.twig' %}

{% block title %}À Propos{% endblock %}

{% block body %}

<!-- IMAGE + TEXTE AVEC BOUTON -->
<section class="container my-5">
    <div class="row align-items-center">
        <div class="col-md-6">
            <img src="{{ asset('images/propos.png') }}" class="img-fluid rounded" alt="Produits Naturels">
        </div>
        <div class="col-md-6">
            <h2>Notre Mission : Sublimer Vos Cheveux avec RevalHair </h2>
            <p>
            Chez RevalHair, nous croyons que chaque personne mérite d’avoir des cheveux forts, sains et éclatants, quelle que soit leur nature. Nos huiles capillaires sont conçues pour nourrir en profondeur, protéger et revitaliser vos cheveux avec des ingrédients 100% naturels.

<p><b>Huile de Batana</b> : Stimule la repousse et fortifie les cheveux cassants.</p>
 <p><b>Huile de Moringa</b> : Idéale pour les cheveux des enfants, hydrate et protège en douceur.</p>
 <p><b>Huile de Chébé </b>: Prévient la casse et favorise la rétention de longueur pour des cheveux longs et résistants.</p>

Notre mission est de révéler la vraie beauté de vos cheveux grâce à des soins naturels et efficaces, respectueux de votre cuir chevelu et de votre bien-être.

 RevalHair, le secret d’une chevelure éclatante et en pleine santé. </p>
        </div>
    </div>
    
</section>

<!-- IMAGE + TEXTE AVEC BOUTON -->
<section class="container my-5">
    <div class="row align-items-center">
        <div class="col-md-6">
            <img src="{{ asset('images/propos1.png') }}" class="img-fluid rounded" alt="Produits Naturels">
        </div>
        <div class="col-md-6">
            <h2>L'Innovation Naturelle au Service de Vos Cheveux</h2>
            <p>Chez RevalHair, nos huiles capillaires ne sont pas de simples soins. Elles sont le fruit d’une recherche approfondie et d’un savoir-faire ancestral pour offrir des solutions naturelles et efficaces à tous types de cheveux.

 <p><b>Huile de Batana </b>: Un trésor capillaire qui stimule la repousse, nourrit en profondeur et redonne force et éclat aux cheveux abîmés.</p>
 <p><b>Huile de Moringa</b> : Idéale pour les cheveux délicats des enfants, elle hydrate, protège et renforce tout en douceur.</p>
 <p><b>Huile de Chébé </b>: Utilisée depuis des siècles par les femmes africaines, elle prévient la casse et favorise une croissance optimale des cheveux longs et résistants.</p>

Grâce à l’innovation végétale et aux bienfaits des ingrédients naturels, nos huiles s’adaptent à vos besoins spécifiques pour une chevelure plus forte, plus brillante et éclatante de santé.

RevalHair – Le pouvoir des huiles pour des cheveux sublimés</p>
            
           
        </div>
    </div>
    
</section>
{% endblock %}
