{% extends 'base.html.twig' %}

{% block title %}À Propos{% endblock %}

{% block body %}
<h1>ℹ️ À Propos</h1>
<p>Nous sommes une entreprise dédiée à fournir les meilleurs produits à nos clients.</p>
{% endblock %}
