{% extends 'base.html.twig' %}

{% block title %}FAQ{% endblock %}

{% block body %}


<section class="container my-5">
    <h2 class="text-center">Nos huiles</h2>
    <div class="accordion" id="faqAccordion">
        
        <!-- Question 1 -->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question1">
                    Quels sont les bienfaits de vos produits ?
                </button>
            </h2>
            <div id="question1" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    <p>Nos produits nourrissent, hydratent et renforcent les cheveux.</p>
                </div>
            </div>
        </div>

        <!-- Question 2 -->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question2">
                    Conviennent-ils à tous types de cheveux ?
                </button>
            </h2>
            <div id="question2" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    <p>Nos soins sont adaptés à tous types de cheveux : bouclés, lisses, crépus...</p>
                </div>
            </div>
        </div>

        <!-- Question 3 -->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question3">
                    Comment utiliser l’huile de Batana ?
                </button>
            </h2>
            <div id="question3" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    <p>Appliquez l'huile sur vos cheveux 2 à 3 fois par semaine pour des résultats optimaux.</p>
                </div>
            </div>
        </div>

    </div>
</section>
<section>
<h2 class="text-center">Livraison & Retours</h2>
    <div class="accordion" id="faqAccordion">
        
        <!-- Question 1 -->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question1">
                    Quels sont les bienfaits de vos produits ?
                </button>
            </h2>
            <div id="question1" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    <p>Nos produits nourrissent, hydratent et renforcent les cheveux.</p>
                </div>
            </div>
        </div>

         <!-- Question 2 -->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question2">
                    Conviennent-ils à tous types de cheveux ?
                </button>
            </h2>
            <div id="question2" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    <p>Nos soins sont adaptés à tous types de cheveux : bouclés, lisses, crépus...</p>
                </div>
            </div>
        </div>
</section>



{% endblock %}
