{% extends 'base.html.twig' %}

{% block title %}FAQ{% endblock %}

{% block body %}
<h1>❓ Foire Aux Questions</h1>
<p>Retrouvez ici les réponses aux questions les plus fréquentes.</p>
{% endblock %}
