<footer class="bg-dark text-white text-center py-3">
  <div class="container">
    <a href="{{ path('contact') }}" class="text-white mx-2">Contact</a>
    <a href="{{ path('faq') }}" class="text-white mx-2"> FAQ</a>
    <a href="{{ path('about') }}" class="text-white mx-2">À propos</a>
    <a href="{{ path('mentions_legales') }}" class="text-white mx-2"> Mentions légales</a>
  </div>
  <div class="mt-2">© REVAL 2024</div>
</footer>
